# User-specific files
*.suo
*.user
*.sln.docstates
build_*
build
build-*

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

ScanService/Scanner/bin/Release
ScanService/Scanner/bin/Debug
ScanService/Scanner/bin/RelWithDebInfo